* {
    margin: 0;
    padding: 0;
}

body {
    background: #202020;
    font-family: sans-serif;
}

div.col-1, div.col-2 {
    float: left;
}

div.col-1 {
    display: table;
    margin-top: 20px;
    padding-left: 1%;
    width: 49%;
}

div.col-2 {
    display: table;
    padding-left: 2.5%;
    width: 47.5%;
}

div.form-header {
    background: #8FCCBD;
    padding: 8px;
    height: 21px;
    vertical-align: middle;
}

div.form-footer {
    background: #E4E4E4;
    padding: 7px 0 7px 0;
    text-align: center;
}

form.form {
    background: #FFFFFF;
    border: solid #8FCCBD 2px;
    margin: 1.5% 18% 0 18%;
}

div.form-body {
    overflow: auto;
    padding: 20px 0 10px 0;
}

h4 {
    display: inline-block;
    float: left;
    font-size: 15px;
    padding-right: 25px;
}

input[type=submit], input[type=reset] {
    background: #60AA99;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 2px 0;
    width: 87px;
}

input[type=submit]:hover, input[type=reset]:hover {
    cursor: pointer;
    font-size: 16px;
}

input[type="text"], select {
    height: 18px;
    min-width: 200px;
}

textarea {
    resize: vertical;
    height: 100px;
    max-height: 200px;
    min-height: 100px;
    min-width: 200px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    position: relative;
}

nav ul li {
    vertical-align: middle;
    display: inline-block;
    background-color: #90CCBD;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #000000;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
}

nav a.menu-item:hover {
    background-color: #60AA99;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 20px;
}

nav ul li:hover > ul {
    display: inherit;
    vertical-align: middle;
}

nav ul ul li {
    width: 103px;
    float: none;
    display: list-item;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 9px;
}

li > a:after {
    content: '';
}

li > a > img {
    margin: 0;
    vertical-align: middle;
}

li > a:only-child:after {
    content: '';
}

p.comment, p.comment-2, p.comment-3 {
    font-size: 12px;
    text-decoration: underline;
    padding-left: 10px;
}

p.comment-2 {
    padding: 6px 0 15px 0;
}

p.comment-3 {
    padding: 8px 0 20px 0;
}

select {
    height: 22px;
}

#checkboxes {
    display: table-cell;
    padding-left: 18px;
    list-style: none;
}

#checkboxes label {
    font-size: 12px;
}

#checkboxes input, #checkboxes label {
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle;
}

.inner-body, .row {
    display: table;
    width: 100%;
}

.input {
    display: table-cell;
    width: 50%;
}

.label {
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    width: 40%;
}

.required {
    font-size: 10px;
    color: red;
}

.row {
    margin: 0 0 20px 0;
}

.row.padding {
    padding-bottom: 15px;
}


